.pokemon-wrapper{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
overflow-y: scroll;
 background-color:white;
}
.loading-wrapper{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
overflow-y: scroll;
 background-color:white;
}
.error-wrapper{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
overflow-y: scroll;
 background-color:white;
}
.pokemon-details-wrapper
{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
overflow-y: scroll;
 background-color:white;
}

.pokemon{
position:Relative; 
box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.pokemon-details
{
	width:90%;
	position:relative;
	max-width:600px;
	margin:20px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

}
.note-display{
	width:90%;
	position:relative;
	max-width:250px;
	margin:10px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

}
.pokemon-img{
display:inline-block;
max-width:200px;
}
.pokemon-features
{
	display:inline-block;
}
.pokemon-features span{
padding:top:20px;
display:block;
}
.heavyWeigth{
position:absolute;
top:0;
left:0;
background-color:yellow;
}
.badgeVisibility
{
	display:none;
}
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}