.pokemon-wrapper{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
overflow-y: scroll;
 background-color:white;
}
.pokemon-details-wrapper
{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;

 background-color:white;
}
.pokemon{
position:Relative; 
box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.pokemon-details
{
	width:90%;
	position:relative;
	max-width:600px;
	margin:100px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

}
.pokemon-img{
display:inline-block;
max-width:200px;
}
.pokemon-features
{
	display:inline-block;
}
.pokemon-features span{
padding:top:20px;
display:block;
}
