
<div class= "mx-auto text-center " >
<div class='mx-auto my-5' style="width:96%; max-width:800px;" >
<img  class='w-100' src="https://toucantoco.com/blog/wp-content/uploads/2016/07/Capture-d%E2%80%99e%CC%81cran-2016-07-19-a%CC%80-15.27.31.png"/>
</div>
<h2>WELCOME TO POKEDEX</h2>
<LinkTo @route="pokedex">Go To Pokedex Page</LinkTo>
</div>
{{outlet}}
 