<div class="pokemon-wrapper">
<div class="row justify-content-center mx-5" >
{{#each @model as |pokemon|}}
<LinkTo @route="pokedex.details" @model={{pokemon.api_id}}>
<div class="pokemon text-center d-inline-block px-0 mx-3 my-4">

<div class="mx-auto" style="width:160px; height:160px;">
<img class="w-75 align-middle mt-3" src={{pokemon.avatar}}/>
</div>

<span class=" text-white"style="left:0; right:0; position:absolute;background-color: rgba(0,0,0,.5);">{{pokemon.name}}</span>
</div>
</LinkTo>
{{/each}}
</div>
</div>
{{outlet}}